*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background:black linear-gradient(135deg , hsl(200, 30%, 50%), 
    hsla(200, 30%, 50%, 0.6));
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.media-body{
    width: clamp(0%, 100vw, 400px);
    background-image: url('./images/chat-background.jpg');
    margin-inline: auto;
    border-radius: 20px;
    position: relative;
}

@media (min-width: 800px) {
     .media-body{
        margin-top: 100px;
     }
}

.header{
    background: linear-gradient(45deg, hsl(200, 50%,50%), 
    hsl(200, 40%,50%));
    border-radius: 20px 20px 0 0;
    color: white;
}

@media (max-width: 500px) {
    .header{
      border-radius: 0;
    }
}
.title{
    font-size: 30px;
    font-weight: 700px;
    text-align: center;
    padding: 5px 0 5px 0;
}

.user{
    padding: 10px 10px;
    font-size: 25px;
    font-weight: 700;
    border-bottom: 1px solid #a8a8a8;
    color: #f2f2f2;
    display: flex;
    align-items: center;
}

.user input{
    color: #3d3d3d;
    padding: 3px 4px;
    outline: none;
    font-size: 20px;
    flex: 1;
    min-width: 0%;
    max-width: 200px;
    margin-left: 20px;
    border-radius: 4px;
    border: none;
    
   &:focus{
    box-shadow: inset 2px 2px 10px #f3f3f3 , 2px 2px 10px #2a2a2a;
   }
}

.messages-body{
    padding: 14px 12px 0 12px;
    height: 450px;
    overflow-y: scroll;
}

li{
    list-style: none;
}

.message-left, .message-right{
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    color: #fff;
    max-width: 250px;
    word-break: break-all;
    margin-top: 20px;
    margin-bottom: 20px;
}

.stamp{
    font-size: 13px;
   
}
.message-right{
    background-color: black;
    text-align: right;
    margin-left: auto;
    border-radius: 16px 16px 0 16px;
}
.message-left{
    background-color: #989898;
    text-align: left;
    margin-right: auto;
    border-radius: 16px 16px 16px 0;
}

.feedback{
    text-align: center;
    color: #7a7a7a;
    margin-top: 20px;
    margin-bottom: 20px;
}


.footer{
    position: sticky;
    bottom: 0;
    left: 0;
    width: 97%;
    margin-inline: auto;
}
.message-form{
    flex: 1;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.message-input{
    width: clamp(50px, 100%, 600px);
    padding: 4px 10px 4px 20px;
    font-size: 18px;
    color: #787878;
    border: none;
    outline: none;
    &:focus{
        box-shadow: inset 2px 2px 10px #636363 , 2px 2px 10px 10px #2a2a2a;
       }
}

.send-message{
    padding: 9px 14px;
    color: white;
    background-color: hsl(200, 50%, 50%);
    border: none;
    outline: none;
    min-width: 90px;
    &:hover{
        background-color: hsl(200, 40%, 50%); 
    }
}

.client-total{
    text-align: center;
    color: white;
    padding: 10px;

}

@media (max-width: 700px){
    .messages-body{
        height: 70vh;
    }
}